# Group by

In [20]:
import pandas as pd

In [21]:
df=pd.read_csv(r"C:\Users\acer\Downloads\Python\Pandas\Flavors.csv") 
df                                         #Import csv file

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [25]:
group_by_frame=df.groupby('Base Flavor')     # Group by uisng Base flavour

In [27]:
group_by_frame.mean(numeric_only=True)    #use numeric only as it is not able to read integer

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [29]:
df.groupby('Base Flavor').mean(numeric_only=True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [30]:
df.groupby('Base Flavor').count()        #COUNT

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [34]:
df.groupby('Base Flavor').max()

                 Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate    Rocky Road   Yes            8.8             7.6          16.6
Vanilla         Vanilla   Yes           10.0             8.0          18.0

In [35]:
df.groupby('Base Flavor').min()

                  Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate      Chocolate   Yes            8.2             7.0          15.2
Vanilla      Cake Batter    No            2.3             3.4           5.7

In [36]:
df.groupby('Base Flavor').sum()

,Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
Base Flavor,,,,,
Chocolate,ChocolateRocky RoadChocolte Fudge Brownie,YesYesYes,25.2,21.7,47.1
Vanilla,Mint Chocolate ChipVanillaCookie DoughPistachi...,YesNoYesNoYesNo,34.2,33.9,68.1

In [42]:
df.groupby(['Base Flavor', 'Texture Rating']).mean(numeric_only=True)

                            Flavor Rating  Total Rating
Base Flavor Texture Rating
Chocolate   7.0                      8.20         15.20
            7.1                      8.20         15.30
            7.6                      8.80         16.60
Vanilla     3.4                      2.30          5.70
            5.0                      4.25          9.25
            6.0                      6.50         12.50
            6.5                      6.90         13.40
            8.0                     10.00         18.00

In [46]:
df.groupby(['Base Flavor','Liked']).mean(numeric_only=True)

                   Flavor Rating  Texture Rating  Total Rating
Base Flavor Liked
Chocolate   Yes              8.4        7.233333     15.700000
Vanilla     No               3.6        4.466667      8.066667
            Yes              7.8        6.833333     14.633333

In [ ]:
df.groupby('Base Flavor'

# AGGREGATE FUNCTIONS

In [39]:
df.groupby('Base Flavor').agg({'Flavor Rating':['mean','sum','max','min','count'],'Texture Rating':['mean','sum','max','min','count']})

            Flavor Rating                        Texture Rating             \
                     mean   sum   max  min count           mean   sum  max
Base Flavor
Chocolate             8.4  25.2   8.8  8.2     3       7.233333  21.7  7.6
Vanilla               5.7  34.2  10.0  2.3     6       5.650000  33.9  8.0


             min count
Base Flavor
Chocolate    7.0     3
Vanilla      3.4     6

In [50]:
df.groupby(['Base Flavor','Liked']).agg({'Flavor Rating':['mean','sum','max','min','count'],'Texture Rating':['mean','sum','max','min','count']})

                  Flavor Rating                        Texture Rating        \
                           mean   sum   max  min count           mean   sum
Base Flavor Liked
Chocolate   Yes             8.4  25.2   8.8  8.2     3       7.233333  21.7
Vanilla     No              3.6  10.8   4.7  2.3     3       4.466667  13.4
            Yes             7.8  23.4  10.0  6.5     3       6.833333  20.5


                   max  min count
Base Flavor Liked
Chocolate   Yes    7.6  7.0     3
Vanilla     No     5.0  3.4     3
            Yes    8.0  6.0     3